# =========================
# Node / uni-app 依赖
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# =========================
# HBuilderX / uni-app 本地文件
# =========================
.hbuilderx/
.idea/
.vscode/

# =========================
# uni-app 构建产物（一定不要传）
# =========================
unpackage/
dist/
dist/**
build/

# =========================
# 本地运行缓存
# =========================
.cache/
.temp/
.tmp/

# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db

# =========================
# 环境变量 / 私密配置
# =========================
.env
.env.*


